<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <appSettings>
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
   </appSettings>
   <system.webServer>
		<urlCompression doDynamicCompression="true" />
      <rewrite>
         <rules>
		   <clear />
			<rule name="Redirect to WWW" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^selaqui.org$" />
                    </conditions>
                    <action type="Redirect" url="https://www.selaqui.org/{R:0}" redirectType="Permanent" />
			</rule>
			<rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
            </rule>
			<!--rule name="Force HTTPS" stopProcessing="true">
               <match url="(.*)" ignoreCase="false" />
               <conditions>
             		<add input="{HTTPS}" pattern="off" />
               </conditions>
               <action type="Redirect" url="https://www.selaqui.org/{R:1}" appendQueryString="true" redirectType="Permanent" />
            </rule-->		
            <rule name="DefaultRule" stopProcessing="true">
               <match url="^index.php" />
               <action type="Redirect" url="/" />
            </rule>
            <rule name="homework summer" stopProcessing="true">
               <match url="^(.*)$" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" pattern="homework_summer.php" />
               </conditions>
               <action type="Redirect" redirectType="Permanent" url="https://www.selaqui.org/homework-summer.php" />
            </rule>
            <rule name="news at a glance" stopProcessing="true">
               <match url="^(.*)$" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" pattern="news_at_a_glance.php" />
               </conditions>
               <action type="Redirect" redirectType="Permanent" url="https://www.selaqui.org/news-at-a-glance.php" />
            </rule>
            <rule name="transfer certificate" stopProcessing="true">
               <match url="^(.*)$" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" pattern="transfer_certificate.php" />
               </conditions>
               <action type="Redirect" redirectType="Permanent" url="https://www.selaqui.org/transfer-certificate.php" />
            </rule>
            <rule name="prithvihouse mentor" stopProcessing="true">
               <match url="^(.*)$" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" pattern="prithvihouse_mentor.php" />
               </conditions>
               <action type="Redirect" redirectType="Permanent" url="https://www.selaqui.org/prithvihouse-mentor.php" />
            </rule>
            <rule name="About Boarding" stopProcessing="true">
               <match url="^(.*)$" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" pattern="about-cbse-boarding-schools-india.php" />
               </conditions>
               <action type="Redirect" redirectType="Permanent" url="https://www.selaqui.org/about-cbse-residential-schools-dehradun-india.php" />
            </rule>
            <rule name="regular fee details" stopProcessing="true">
               <match url="^(.*)$" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" pattern="regular-fee-details.php" />
               </conditions>
               <action type="Redirect" redirectType="Permanent" url="https://www.selaqui.org/boarding-school-fee-details.php" />
            </rule>
            <rule name="Contact Us" stopProcessing="true">
               <match url="^(.*)$" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" pattern="selaqui-school-contactus.php" />
               </conditions>
               <action type="Redirect" redirectType="Permanent" url="https://www.selaqui.org/contact-dehradun-boarding-school.php" />
            </rule>
            <!--rule name="school curriculum" stopProcessing="true">
               <match url="^(.*)$" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" pattern="school-curriculum.php" />
               </conditions>
               <action type="Redirect" redirectType="Permanent" url="https://www.selaqui.org/cbse-boarding-school-curriculum.php" />
            </rule-->
         </rules>
      </rewrite>
   </system.webServer>
   <system.web>
      <customErrors mode="Off">
         <error statusCode="404" redirect="/404.php" />
      </customErrors>
   </system.web>
</configuration>